<p-growl [(value)]="msgs" life="2000"></p-growl>
<div [@pageAnimation]="'in'">
  <my-breadcrumb name1="日报管理" name2="我的日报"></my-breadcrumb>

  <div class="search-area">
    <label class="mr15">选择日期</label>

    <p-calendar [showIcon]="true" [inputStyle]="{'width':'100px'}"
                [style]="{'margin-right':'35px'}" [(ngModel)]="selectTime" (onSelect)="selectDate()"></p-calendar>
  </div>
</div>
<h1>
  {{title}}{{date}}
</h1>
<div *ngIf="isEmpty === 'success'">
  <hr style="height:5px;border:none;border-top:5px groove skyblue;" />
  <div *ngFor="let item of items;let i = index" style="margin-bottom:5px;min-height:28px;">
    <span>
      <a class="dailyItem" [href]="item.href" target="_blank">{{i+1}}. {{item.name}}</a>
    </span>
    <button pButton type="button" (click)="count()" label="收藏" style="float:right;"></button>
    <hr *ngIf="(i+1)%5===0" style="margin-top:20px;">
  </div>
</div>

<div *ngIf="isEmpty === 'empty'">
    <br>
    <h2>说出来你可能不信</h2>
    <h2>{{date}}的日报自己跑掉了</h2>
    <img src="assets/image/baozou.png">
</div>