<p-growl [(value)]="msgs" life="2000"></p-growl>
<div [@pageAnimation]="'in'">
  <my-breadcrumb name1="日报定制" name2="日报模版"></my-breadcrumb>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <img class="myImg" src="assets/image/timg.jpeg">
    <br><br>
    <h3>码农日报 (使用中)</h3>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">    
    <img class="myImg" src="assets/image/sport.jpg">
    <br><br>
    <h3>体坛日报 (制作中)</h3>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      <img class="myImg" src="assets/image/wow.jpg">
      <br><br>
      <h3>艾泽拉斯日报 (制作中)</h3>
  </div>
</div>
